.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color:#f5f5f5;

}
.container .inp{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-bottom: 20px;
}
.container{
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    width: 270px;
}
.container h2{
    margin-bottom: 50px;
    color:purple;
    text-decoration:underline;
    text-underline-offset: 6px;
    text-underline-position: below;
}

.inp input{
    border: none;
    border-bottom:2px solid #ccc ;
    font-size:medium;
    padding: 8px 0;
     outline: none;
    font-style: italic;
     background: transparent;
     transition: border-color 0.3s ease;
     color: purple;   
}
.inp input:focus{
    border-bottom:2px solid purple;
}

.inp label{
     font-size: 14px;
     color: #666;
}
.inp button{
    padding: 8px;
    font-size: medium;
    border-radius: 8px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}
.inp button:active{
    background-color: rgb(83, 33, 83);
}
.signupLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.signupLink p{
    font-size: small;
    opacity: 0.7;
}
.signupLink .link{
    font-size: small;
    font-weight: 500;
}