.category-bar {
  position: fixed;
  top: 115px;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ececec;
  z-index: 999;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(34, 34, 34, 0.24) 0px 3px 8px;
}

/* ==========================
        CATEGORY LIST
========================== */

.category-list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-list li {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: #1e293b;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.25s ease;
  user-select: none;
}

/* Underline */

.category-list li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #2563eb;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease;
}

/* Hover */

.category-list li:hover {
  color: #2563eb;
}

.category-list li:hover::after {
  transform: scaleX(1);
}

/* Active Category */

.category-list li.active {
  color: #2563eb;
  font-weight: 600;
}

.category-list li.active::after {
  transform: scaleX(1);
}

/* ==========================
        DELIVERY
========================== */

.delivery {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
  white-space: nowrap;
  font-size: 13px;
}

.delivery i {
  color: #2563eb;
}
