.main-content {
  min-height: 100vh;
  padding-top: 160px;
  background: #f4f4f4;
}

@media (max-width: 1024px) {
  .main-content {
    padding-top: 74px;
  }
}

@media (max-width: 767px) {
  .main-content {
    padding-top: 64px;
  }
}
