.custom-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 9px 24px;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: rgb(49, 49, 49);
  cursor: pointer;
  transition: all 0.15s ease;
  font-weight: 500;
}

.custom-btn:active {
  transform: scale(0.97);
  filter: brightness(0.9);
}

.custom-btn:hover {
  background: #ececec;
}
/* ============================
   Add To Cart
============================ */

.Pro-cart-btn {
  width: 100%;
  height: 40px;
  border: 2px solid #2563eb;
  justify-content: center;
  background: white;
  color: #2563eb;
  transition: all 0.3s ease;
}

.Pro-cart-btn i {
  font-size: 15px;
}

.Pro-cart-btn:hover {
  background: #2563eb;
  color: white;
}
.view-all-btn {
  color: #2563eb;
  background-color: #ececec;
}
